/* Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    outline: 0;
}

.container{
    width: 85%;
    margin: auto;
    position: relative;
}

.flex{
    display: flex;
}

.til-sub h1{
    font-size: 30px;
    color: #484848;
}

.til-sub h2{
    font-size: 16px;
    color: #9da8ca;
    font-weight: normal;
    margin-bottom: 30px;
}

.til-sub p{
    font-size: 14px;
    color: #484848;
    text-align: justify;
}

/* Topo */

#line{
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #f8fe22, #21ff22, #21fef7, #2222fe, #ff21fe);
}

#line-sec{
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    margin: 20px 0 0 0;
    display: none;
}

/* Whatsapp and medias Resp */

#whatsapp-medias{
    justify-content: space-between;
    margin-top: 20px;
    display: none;
}

header{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

/* Button Whatsapp */

header button, #whatsapp-medias button{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #00b043;
    cursor: pointer;
}

header button:hover, #whatsapp-medias button:hover{
    background-color: #19cc5e;
    transition: .3s ease-in-out;
}

header button i, #whatsapp-medias button i{
    font-size: 20px;
    margin-right: 10px;
}

header button span, #whatsapp-medias button, span{
    font-weight: 700;
}

header button span, header button i, #whatsapp-medias button span, #whatsapp-medias button i{
    color: #fff;
}

/* Menu and Logo */

#logo-resp{
    display: none;
}

label[for="bt-menu"]{  
    color: #484848;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#bt-menu, label[for="bt-menu"]{
    display: none;
}

header nav{
    align-items: center;
}

header nav a{
    margin-right: 30px;
    font-size: 14px;
    text-decoration: none;
    color: #484848;
}

header nav a:hover{
    color: #b1b1b1;
    transition: .3s ease-in-out;
}

header nav a:last-child{
    margin-right: 0;
}

/* Media Socials */

#medias{
    display: flex;
    align-items: center;
}

#medias span{
    font-size: 12px;
    color: #484848;
    margin-right: 15px;
}

#medias i{
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    background-origin: border-box;
    margin-right: 7px;
    text-align: center;
    line-height: 2.2 !important;
    color: #fff;
    cursor: pointer;
}

#medias i:last-child{
    margin-right: 0;
}

.face{
    background-color: #0d3491;
}

.face:hover{
    background-color: #2650b3;
    transition: .3s ease-in-out;
}

.insta{
    background-color: #bd3da0;
}

.insta:hover{
    background-color:#d65ab9;
    transition: .3s ease-in-out;
}

.twitter{
    background-color: #00cacd;
}

.twitter:hover{
    background-color: #1fe4e7;
    transition: .3s ease-in-out;
}

/* Icon Menu */

.line-menu{
    position: relative;
    display: block;
    background-color: #484848;
    width: 25px;
    height: 2px;
    top: 19px;
    left: 7px;
    transition: .5s ease-in-out;
}

.line-menu:before, .line-menu:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #484848;
    transition: .5s ease-in-out;
}

.line-menu:before{
    top: -10px;
}

.line-menu:after{
    top: 10px;
}

/* Banner */
#banner-home img{
    width: 100%;
    height: auto;
}

/* Links */

#links{
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

#links h1{
    color: #484848;
    font-size: 30px;
    width: 220px;
    line-height: 1;
    font-weight: 700;
}

.box-links{
    width: 190px;
    height: 60px;
    background: #fff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0px 2px 4px rgba(0  , 0, 0, 0.2);
    text-decoration: none;
}

.box-links:last-child{
    margin-right: 0;
}

.content-blinks{
    justify-content: center;
    align-items: center;
    padding: 7.5% 16%;
    overflow: hidden;
}

.box-links i{
    font-size: 30px;
    margin-right: 15px;
}

.box-links h2{
    font-size: 16px;
    line-height: 1;
}

.content-blinks:hover{
    color: #fff;
}

.green{
    color: #10a35d;
}

.green:hover{
    background-color: #10a35d;
    transition: .3s ease-in;
}

.orange{
    color: #fe8054;
}

.orange:hover{
    background-color: #fe8054;
    transition: .3s ease-in;
}

.purple{
    color: #b8309a;
}

.purple:hover{
    background-color: #b8309a;
    transition: .3s ease-in;
}

.brown{ 
    color: #800c0d;
}

.brown:hover{
    background-color: #800c0d;
    transition: .3s ease-in;
}

/* A Odontoblanco */

#a-odontoblanco{
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}


#dente{
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
}

#cir-peq{
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background-color: #d6dcec;
    top: 0;
    left: -4%;
    z-index: 1;
}

#cir-gra{
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 280px;
    background-color: #d6dcec;
    right: -10%;
    bottom: 0;
    z-index: 1;
}

#content-odonto{
    justify-content: space-between;
}

#content-odonto img{
    padding-right: 50px;
}

#texts-odonto{
    width: 40%;
    margin-right: 12%;
}

/* Images clinic */

#imgs-clinic{
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    margin-bottom: 120px;
}

#imgs-clinic h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

#content-imgs img{
    width: 49.5%;
}

#content-imgs img:nth-child(1){
    margin-right: 10px;
}

/* Services */

#services{
    background-color: #d6dcec;
    flex-direction: column;
    padding: 70px 0 90px 0;
}

#services h1{
    text-align: center;
    margin-bottom: 20px;
    color: #5d678b;
    font-size: 30px;
}

#area-boxs-services{
    flex-wrap: nowrap;
}

.box-services{
    width: 25%;
    height: 140px;
    border: 1px solid #a1a7bb;
    align-items: center;
    margin-right: 1%;
}

.box-services:last-child{
    margin-right: 0;
}

.content-icon{
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: #fff;
    display: inline-table;
    margin: 0 15px;
}

.texts-box-services h2{
    font-size: 17px;
    font-weight: 700;
    color: #5d678b;
    margin-bottom: 5px;
}

.texts-box-services p{
    font-size: 13px;
    color: #828799;
    margin-right: 15px;
}

/* Team and News */

#team-news{
    padding: 70px 0;
}

#team{
    width: 38%;
    margin-right: 10%;
}

#news{
    width: 52%;
}

#box-team1{
    width: 120px;
    height: 120px;
    background-image: url("../img/colab.png");
    position: relative;
    margin-right: 15px;
}

#box-team2{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #dce0ee;
    position: relative;
}

.texts-team{
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 20%;
    color: #5d678b;
}

#area-team{
    margin-top: 40px;
}

.texts-team h1{
    font-size: 13px;
}

.texts-team h2{
    font-size: 9px;
}

.texts-news h1{
    font-size: 18px;
    color: #484848;
    margin-bottom: 5px;
}

.texts-news h2{
    color: #9da8ca;
    font-size: 14px;
}

.texts-news p{
    font-size: 13px;
    margin-top: 10px;   
}

.content-news{
    margin-bottom: 40px;
}

.content-news img{
    width: 150px;
    height: 113px;
    margin-right: 20px;
}

/* Odontomovel */

#odonto-movel{
    background-image: url("../img/odontomovel.png");
    background-position: center;
    height: 430px;
    text-align: center;
    color: #fff;
}

#odonto-movel h1{
    font-size: 60px;
    margin-bottom: 1.5%;
}

#odonto-movel h2{
    font-size: 18px;
    font-weight: normal;
    padding-top: 220px;
}

#content-odonto-movel{
    justify-content: center;
}

#content-odonto-movel span{
    font-weight: normal;
    margin-right: 2%;
}

#icons-odonto-movel i{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

#icons-odonto-movel i:nth-child(1):hover{
    color: #0d3491;
}

#icons-odonto-movel i:nth-child(2):hover{
    color: #bd3da0;
}

#icons-odonto-movel i:nth-child(3):hover{
    color: #00cacd;
}

#icons-odonto-movel i:last-child{
    margin-right: 0;
}

/* Location */

#un-belem{
    background-color: #0a3291;
}

#un-ananindeua{
    background-color: #002276;
}

.un-padding p{
    width: auto;
    margin: 0 30px 0 60px;
    font-size: 13px;
}

.un-padding{
    padding: 30px 50px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.titles-location, .un-padding p{
    color: #fff;
}

.titles-location h1{
    font-size: 30px;
}

.titles-location h2{
    font-size: 16px;
    font-weight: normal;
}

.adress-icons{
    align-items: center;
}

.icons-location i{
    color: #5480fa;
    font-size: 40px;
    cursor: pointer;
}

.icons-location i:hover{
    color: #fff;
    transition: .5s ease-in-out;
}

.icons-location i:nth-child(1){
    margin-right: 25px;
}

/* Footer */

#footer-logo-menu, #footer-btn-medias{
    align-items: center;
}

#footer-logo-menu nav a{
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #484848;
}

#footer-logo-menu nav a:last-child{
    margin-right: 0;
}

#footer-logo-menu a:hover{
    text-decoration: underline;
}

#logo-footer img{
    margin-right: 35px;
}

#links-footer{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

footer button{
    border: none;
    padding: 10px 20px;
    margin-right: 25px;
    border-radius: 20px;
    background-color: #00b043;
    cursor: pointer;    
}

footer button:hover{
    background-color: #19cc5e;
    transition: .3s ease-in-out;    
}

footer button i{
    font-size: 20px;
    margin-right: 10px;
}

footer button span{
    font-weight: 700;
}

footer button i, footer button span{
    color: #fff;
}

#footer-f{
    width: 100%;
    border-top: 1px solid #d3d3d3;
    padding: 15px 0;
}

#footer-rights{
    justify-content: space-between;
}

#footer-f span{
    font-size: 12px;
    font-weight: normal;
}


/*---------------------------------------------*/

    /* Responsive */

@media (max-width:1280px){

    /* Topo */

    #whatsapp-medias{
        display: flex;
    }

    #line-sec{
        display: block;
    }

    #logo-resp{
        order: 1;
        display: block !important;
        justify-content: flex-start;
    }

    header nav{
        align-items: flex-start;
        order: 2;
        position: absolute;
        flex-direction: column;
        top: 33%;
        left: 0%;
        opacity: 0;
    }

    header button{
        order: 4;
        display: none !important;
    }

    header #medias{
        order: 3;
        display: none !important;
    }

    label[for="bt-menu"]{
        display: block;
        order: 4;
    }

    header nav a{
        width: 100%;
        height: 47px;
        line-height: 3.3;
        padding-left: 15px;
    }

    header nav a:hover{
        color: unset;
        transition: .5s ease-out;
        background: #f0f0f0;
    }

    header nav a:nth-child(4){
        display: none;
    }

    #bt-menu:checked ~ nav{
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background-color: #fff;
        width: 100%;    
        top: 100%;
        opacity: 1;
        transition: .5s ease-in-out;
        overflow: hidden;
        z-index: 1;
    }

    #bt-menu:checked ~ label .line-menu{
        transform: rotate(45deg);
    }

    #bt-menu:checked ~ label .line-menu:before{
        top: 0px;
        transform: rotate(90deg);
    }

    #bt-menu:checked ~ label .line-menu:after{
        top: 0px;
        transform: rotate(-90deg);
    }

    /* Links */

    #links{
        flex-direction: column;
    }

    #links h1{
        margin: auto;
        margin-bottom: 30px;
        width: auto;
    }

    #area-boxs-links{
        margin: auto;
    }

    /* Location */

    .un-padding{
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .un-padding p{
        margin: 0 30px 0 0;
    }

    .titles-location{
        display: flex;
        align-items: center;
        margin-bottom: 4%;
    }

    .titles-location h2{
        margin-right: 7%;
    }

    /* Footer */
    #links-footer{
        flex-direction: column;
    }

    #footer-logo-menu, #footer-btn-medias{
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #footer-logo-menu{
        margin-bottom: 45px;
    }

}

@media (max-width:1180px){

    body{
        background-color: green;
    }

    /* The Odontoblanco */

    #content-odonto{    
        flex-wrap: nowrap;
    }

    #content-odonto img{
        margin: auto;
        padding-right: 50px;
        width: 350px;
    }

    #texts-odonto{
        width: 100%;
        margin-right: 14%;
    }

    #texts-odonto h1{
        margin-top: 20px;
    }

    #cir-gra{
        width: 240px;
        height: 240px;
        border-radius: 240px;    
    }

    #dente{
        right: 1.5%;
    }

    /* Services */

    #area-boxs-services{
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-services{
        width: 49%;
    }

    .box-services:nth-child(2n){
        margin-right: 0;
    }

    .box-services:nth-child(-n+2){
        margin-bottom: 1%;
    }
}
    @media (max-width:980px){

    body{
        background-color: red;
    }

    /* Links */

    .box-links{
        width: 280px;
    }

    #area-boxs-links{
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-blinks{
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .box-links:nth-child(2), .box-links:nth-child(4){
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* The Odontoblanco */

    #content-odonto img{
        width: 320px;
    }

    #cir-gra{
        width: 210px;
        height: 210px;
        border-radius: 210px;
    }

    #dente{
        width: 120px;
    }

    /* Team and News */

    #team-news{
        flex-direction: column;
    }

    #team, #news{
        width: 100%;
    }

    #team{
        display: flex;
        margin-bottom: 70px;
        margin-right: 0;
        align-items: center;
    }

    #content-team{
        margin-right: 5%;
    }

}

@media (max-width:920px){
    body{
        background-color: brown;
    }

    /* The Odontoblanco */

    #content-odonto{
        flex-direction: column;
    }

    #content-odonto img{
        width: auto;
        padding-right: 0;
    }

    #cir-gra{
        width: 240px;
        height: 240px;
        border-radius: 240px;
        bottom: 180px;
    }

    #dente{
        width: 20%;
        bottom: 160px;
        margin-right: 2%;
    }

    #texts-odonto h1, #texts-odonto h2{
        text-align: center;
    }

    /* Location */

    #location{
        flex-direction: column;
    }

    .un-padding{
        width: auto;
        flex-direction: row;
    }

    .titles-location{
        display: block;
    }

    .adress-icons{
        width: 55%;
        justify-content: space-between;
    }

    .titles-location{
        margin-bottom: 0;
    }

}

@media (max-width:760px){
    body{
        background-color: blue;
    }

    /* Links */

    .box-links{
        width: 100%;
    }

    .box-links:nth-child(1), .box-links:nth-child(3){
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* The Odontoblanco */

    #cir-gra{
        width: 210px;
        height: 210px;
        border-radius: 210px;
    }

    #dente{
        width: 20%;
        height: auto;
    }

    /* Images Clinic */

    #content-imgs{
        flex-direction: column;
    }

    #content-imgs img{
        width: 100%;
    }

    #content-imgs img:nth-child(1){
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Services */

    .box-services{
        width: 100%;
        margin: 0 0 1% 0;
    }

    /* Team and News */

    #team{
        display: block;
    }

    #content-team{
        margin-right: 0;
    }

    /* Location */

    .un-padding{
        flex-direction: column;
        width: auto;
    }

    .titles-location{
        display: flex;
        margin-bottom: 4%;
    }

    .adress-icons{
        width: 100%;
        justify-content: space-between;
    }

    /* Footer */

    #footer-logo-menu{
        flex-direction: column;
    }

    #logo-footer img{
        margin-bottom: 35px;
        margin-right: 0;
    }

    #footer-logo-menu nav{
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-between;
    }

    #footer-logo-menu nav a{
        font-size: 16px;
    }

    #footer-logo-menu nav a:nth-child(3){
        margin-right: 0;
    }

    #footer-logo-menu nav a:nth-child(-n+1){
        margin-bottom: 20px;
    }

}

@media (max-width:680px){

    /* The Odontoblanco */

    #cir-gra{
        width: 180px;
        height: 180px;
        bottom: 220px;
    }

    #dente{
        width: 18%;
        height: auto;
        bottom: 220px;
        right: 2%;
    }

}

@media (max-width:620px){

    /* The Odontoblanco */
    
    #cir-gra{
        width: 150px;
        height: 150px;
        bottom: 220px;
    }
    
    #dente{
        width: 16%;
        height: auto;
        bottom: 220px;
        right: 2%;
    }

    /* Footer */

    #footer-logo-menu nav{
        width: 60%;
    }

    
}

@media (max-width:540px){

    /* The Odontoblanco */

    #content-odonto img{
        width: 100%;
        height: auto;
    }
    
    #cir-gra{
        width: 120px;
        height: 120px;
        bottom: 220px;
    }
    
    #dente{
        width: 13%;
        height: auto;
        bottom: 220px;
    }

    .til-sub h1, .til-sub h2{
        text-align: center;
    }

    /* Footer */

    #footer-logo-menu nav{
        flex-direction: column;
        text-align: center;
    }

    #footer-logo-menu nav a{
        margin-bottom: 20px;
        margin-right: 0;
    }

    #footer-btn-medias{
        flex-direction: column;
        justify-content: center;
    }

    footer button{
        margin-bottom: 40px;
        margin-right: 0;
    }

    #footer-logo-menu{
        margin-bottom: 30px;
    }
    
}

@media (max-width: 405px){

    /* Top */

    #whatsapp-medias{
        flex-direction: column;
    }

    #whatsapp-medias button, #medias{
        justify-content: center;
    }

    #medias{
        margin-top: 20px;
    }

    /* The Odontoblanco */

    #cir-gra, #cir-peq, #dente{
        display: none;
    }

    /* Team and news */

    .content-news{
        flex-direction: column;
    }

    .content-news img{
        width: 100%;
        height: auto;
    }

    .texts-news{
        margin-top: 20px;
    }

    /* Odontomóvel */

    #odonto-movel h1{
        font-size: 45px;
    }

    #content-odonto-movel{
        flex-direction: column;
    }

    #icons-odonto-movel{
        margin-top: 10px;
    }

    /* Footer */

    #footer-rights{
        flex-direction: column;
        text-align: center;
    }

    #footer-rights span+span{
        margin-top: 10px;
    }

}

@media (max-width: 305px) {
    
    /* Team and News */

    #area-team{
        flex-direction: column;
    }

}